*,
*::after,
*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body  {
    text-align: center;
    font-size: 20px;
    font-family: 'Cairo', sans-serif;
    background-color: rgba(242, 208, 145, 1);
}
#gameboard  {
    width: 95%;
    margin: 0 auto;
    height: 300px;
    display: flex;
    justify-content: space-around;
    background-color: rgba(88, 96, 140, 1);
    min-width: 500px;
    border-radius: 10px;
    color: rgba(242, 208, 145, 1);
}
.col {
    width: 10%;
}
.hole  {
    height: 45%;
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    padding: 35px;
    background-color: rgba(191, 123, 84, 1);
    box-shadow: inset 3px 3px rgba(162, 165, 77, 1);
}
/* .p2.hole  {
    background-color: rgba(191, 123, 84, 1);
}
.p1.hole  {
    background-color: rgba(191, 123, 84, 1);
} */
.store  {
    background-color: rgba(191, 123, 84, 1);
    margin: 10px 0;
    padding: 130px 0;
    border-radius: 10px;
    box-shadow: inset 3px 3px rgba(216, 120, 36, 1);
}

.glow  {
    box-shadow: 0 0 40px 0 yellow;
}
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  #welcome-modal  {
      display: block;
  }
  #winner-modal  {
      display: none;
  }
  .modal-content {
    background-color: rgba(242, 208, 145, 1);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }



/* Color Theme Swatches in RGBA */
/*
{ color: rgba(88, 96, 140, 1); } blue
{ color: rgba(162, 165, 77, 1); } green
{ color: rgba(242, 208, 145, 1); } tan
{ color: rgba(216, 120, 36, 1); } orange
{ color: rgba(191, 123, 84, 1); } brown
*/

