*,
*::after,
*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body  {
    text-align: center;
    font-size: 20px;
    font-family: 'Cairo', sans-serif;
    background-color: rgba(255, 164, 156, 1);
    color: rgba(124, 106, 124, 1);
}
#gameboard  {
    width: 95%;
    margin: 0 auto;
    height: 300px;
    display: flex;
    justify-content: space-around;
    background-color: rgba(124, 106, 124, 1);
    min-width: 500px;
    border-radius: 10px;
    color: rgba(255, 245, 134, 1);
}
.col {
    width: 10%;
}
.hole  {
    height: 45%;
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    padding: 35px;
    background-color: rgba(162, 160, 168, 1);
    box-shadow: inset 3px 3px rgba(255, 140, 100, 1);
}
/* .p2.hole  {
    background-color: rgba(191, 123, 84, 1);
}
.p1.hole  {
    background-color: rgba(191, 123, 84, 1);
} */
.store  {
    background-color: rgba(162, 160, 168, 1);
    margin: 10px 0;
    padding: 130px 0;
    border-radius: 10px;
    box-shadow: inset 3px 3px rgba(255, 140, 100, 1);
}

.glow  {
    box-shadow: 0 0 40px 0 rgba(255, 245, 134, 1);
}
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  #welcome-modal  {
      display: block;
  }
  #winner-modal  {
      display: none;
  }
  .modal-content {
    background-color: rgba(255, 245, 134, 1);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }





/* Color Theme Swatches in Hex */
.red-at-night-shepherds-delight-1-hex { color: #FFF587; }
.red-at-night-shepherds-delight-2-hex { color: #FF8C64; }
.red-at-night-shepherds-delight-3-hex { color: #FF665A; }
.red-at-night-shepherds-delight-4-hex { color: #7D6B7D; }
.red-at-night-shepherds-delight-5-hex { color: #A3A1A8; }

/* Color Theme Swatches in RGBA */
.red-at-night-shepherds-delight-1-rgba { color: rgba(255, 245, 134, 1); }
.red-at-night-shepherds-delight-2-rgba { color: rgba(255, 140, 100, 1); }
.red-at-night-shepherds-delight-3-rgba { color: rgba(255, 102, 89, 1); }
.red-at-night-shepherds-delight-4-rgba { color: rgba(124, 106, 124, 1); }
.red-at-night-shepherds-delight-5-rgba { color: rgba(162, 160, 168, 1); }

/* Color Theme Swatches in HSLA */
.red-at-night-shepherds-delight-1-hsla { color: hsla(55, 100, 76, 1); }
.red-at-night-shepherds-delight-2-hsla { color: hsla(15, 100, 69, 1); }
.red-at-night-shepherds-delight-3-hsla { color: hsla(4, 100, 67, 1); }
.red-at-night-shepherds-delight-4-hsla { color: hsla(300, 7, 45, 1); }
.red-at-night-shepherds-delight-5-hsla { color: hsla(257, 4, 64, 1); }


